main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
    width: 100%;
    margin-bottom: 2rem;
}

.serviceCont{
    position: relative;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    max-width: 800px;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}

.name_arrow{
    padding: 2rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name_arrow svg{
    fill: #000;
    width: 2rem;
    height: 100%;
}

.card{
    cursor: default;
    width: calc(100% - 2rem);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #000;
    padding: 0.5rem 0;
}

.noborder{
    border-top: 1px solid transparent;
}

.desc{color: #6c757d;font-size: 0.8rem; }
.serviceCont ul{
    color: #6c757d;
    margin-left: 2rem;
    font-size: 0.8rem;
}

.showDesc{
    background: #c29b6ad4;
    padding: 0.3rem;
    margin: 0.25rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 0.2rem;
    color: #fff;
    cursor: pointer;
}

.showDesc:hover{
    background: #d4b895;
}

.time{
    font-size: 0.7rem;
}

.time,.price{
    text-align: right;
}
.insideCards{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.insideCards .card{
    border-top: 0;
    padding: 0.5rem;
    padding-right: 0;
    font-size: 0.9rem;
}

.insideCards .card div{
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    align-items: center;
}

.hidden{
    display: none;
}